#form {
    height: 400px;
    width: 300px;
    /*margin-top: 40px;*/
    /*margin-left: 40px;*/
    margin-left: auto;

}
#main {
    float: left;
    /*margin-right: auto;*/
    width: 1100px;
    margin-top: -360px;
}
#header{
    float: left;
    width: 1100px;
    margin-top: -400px;
    /*margin-right: auto;*/
    text-align: center;
}